
{% extends "layout.html" %}
{% block body %}

{% if oBooks==[]%}
<h1> You haven't ordered any books yet. </h1>

{% else %}
{% for book in oBooks %}
<h1>Books You Ordered:</h1>
<div class="responsive">
  <div class="img">
    <a href={{url_for('showBook', book_id = book.id)}}>
      <img src={{book.photo}} alt={{book.name}} width="170" height="250">
    </a>
    <br>
    <br>
    <!-- <div class="desc">{{book.name}}</div> -->
  </div>
</div>
{% endfor %}
{% endif %}

{% if aBooks==[]%}
<h1> You haven't added any books. </h1>

{% else %}
{% for book in aBooks %}
<h1>Books You Added:</h1>
<div class="responsive">
<div class="img">
  <a href={{url_for('showBook', book_id = book.id)}}>
    <img src={{book.photo}} alt={{book.name}} width="170" height="250">
  </a>
  <br>
  <br>
  
</div>
<div></div>
{% endfor %}
{% endif %}

{% endblock %}
